# Project exclude paths

#Ignore everything in the root directory except the wp-content directory
!.gitignore
!wp-content/

wp-config.php

#Ignore IDE files
.idea

#Ignore node dependecies directories
node_modules/
/wp-content/plugins/modula-best-grid-gallery/includes/divi-extension/node_modules/